h1 {
  color: grey;
}

input {
  width: 250px;
  height: 40px;
}

body {
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
